@font-face {
  font-family: 'Adwaita Sans';
  src: url('assets/AdwaitaSans-Regular.ttf') format('woff2'),
      url('assets/AdwaitaSans-Italic.ttf') format('woff2');
  font-weight: normal, bold;
  font-style: normal, italic;
}

:root{
    --background: #8ba888;
    --background-secondary: #73946f;
    --foreground: #fff4ea;
    --x-button: #ffaa8e;

    background-color: var(--background);
    color: var(--foreground);

    font-family: "Adwaita Sans";
}

body.baddie-theme{
    --background: #443844;
    --background-secondary: #322932;
    --foreground: #ee97f4;

    background-color: var(--background);
    color: var(--foreground);
}

body.nord-theme{
    --background: #131619;
    --background-secondary: #0f1112;
    --foreground: #fcfeff;

    background-color: var(--background);
    color: var(--foreground);
}

*{
    padding: 0;
    margin: 0;
    user-select: none;
    font-family: "Adwaita Sans";
    font-weight: bold;
}

#wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
}

header{
    display: flex;

    margin: 0;
    padding: 16px;
    width: 100%;
    background-color: var(--background-secondary);
    box-sizing: border-box;
    text-align: center;
}

header h1{
    text-shadow: 0px 3px 4px black;
}

header button{
    margin-left: auto;
}

footer {
    margin-top: auto;


    text-align: center;
    box-sizing: border-box;

    background-color: var(--background-secondary);
    padding: 20px;
    width: 100%;

    display: flex;
    align-self: center;
    justify-content: center;
}

button,
input{
    text-decoration: none;
    background: none;
    border: none;
    box-shadow: none;
    outline: none;

    font-size: 16px;
    background-color: var(--background);
    color: var(--foreground);
    border-radius: 8px;
    padding: 8px;
    margin-right: 8px;
    margin-left: 8px;
    box-shadow: 0px 4px 3px rgba(0,0,0,0.1);
    text-shadow: 0px 1px 4px rgba(0,0,0,0.4);

    transition-property: transform;
    transition-duration: 0.25s;
}

button:hover,
input:hover{
    transform: translateY(-2px);
}

button:hover{
    cursor: pointer;
}

input{
    padding-left: 16px;
    width: 70%;
}

#task-button{
    width: 25%;
}

main{
    margin: 25px;
}

#task{
    display: flex;

    font-size: 24px;
    align-items: center;
    overflow-wrap: break-word;

    background-color: var(--background-secondary);
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 16px;

    box-shadow: 0px 5px 3px rgba(0,0,0,0.3);

    transition-property: transform;
    transition-duration: 0.25s;
}

#task:hover{
    transform: translateY(-2px);
}

#task p{
    margin-left: 8px;
    user-select: text;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.4);

    min-width: 0;
    overflow-wrap: break-word;
}

#task button {
    background: none;
    color: var(--x-button);
    padding-left: 16px;
    font-size: 16px;
    margin-left: auto;
    box-shadow: none;

    transition-property: transform;
    transition-duration: 0.25s;
}

::-webkit-scrollbar {
    display: none;
}